<!doctype html>
  <link rel="stylesheet" type="text/css" href="static/style.css">
<html>
  <body>

      <h1>Here is our pick for you: {{ random_business }}</h1>
      <h3>{{number_review}} foodies have ranked this as 4 stars out of 5! Plus it's not expensive ;-) </h3>
      <h3>Where is it: {{ where_is_it_0 }}, {{ where_is_it_1}}</h3>

      <h3>Here is a peek into what you are getting here: </h3>
      <img src= {{pic_url}} alt="pic_url" width="500" height="333">
      </form>
  </body>
</html>
