<!doctype html>
<link rel="stylesheet" type="text/css" href="static/style.css">
  <html>
    <body>
      <h1>DineCision</h1>
      <h3>Picking the most exciting place to dine in for you!</h3>

        Please enter the area you want to search for:
        <form method="POST">
          <input name ="location">
          <input type="submit" value="Submit" />
        </form>

    </body>
</html>


<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>DineCision</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST">
          <input name ="location">
          <input type="submit" value="Submit" />
        </form>
    </body>
</html> -->
